@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Soft-red: hsl(5, 85%, 63%);
  --Soft-orange: hsl(35, 77%, 62%);
}
.link{
    color: var(--Dark-grayish-blue);
}
body{
    font-family: "Inter";
}
.links ul li a:hover {
    color: var(--Soft-red);
  }
  .button {
    background-color: hsl(5, 85%, 63%);
    padding: 1rem;
    display: inline-block;
    margin-top: .7em;
    text-decoration: none;
    color: hsl(36, 100%, 99%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25em;
    transition: 0.5s color ease-out;

  }
  .button:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    animation-name: rotate;
    animation-duration: 0.5s;
  }
  .article {
    margin: 25px 5px;
    font-size: 1rem;
  }
  
  .article a {
    color: hsl(36, 100%, 99%);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 14px;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s color ease-out;
  }
  .new_articles h3:hover {
    color: hsl(5, 85%, 63%);
  }
  .article a:hover {
    color: hsl(36, 79%, 34%);
  }
  .content h2{
    color: hsl(233, 8%, 79%);
  font-size: 2em;
  }